* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: gray;
    font-weight: bold
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    margin-top: 4em;
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #5C6A79;
    background-color: #FFFFFF;
}


.wrapper {
max-width: 1440px;
position: relative;
}

#nav__list--active {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: black;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;
}

.nav__list {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    gap: 4em;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-decoration: none;
}

.nav__icons {
    display: flex;
    gap: 4em;
}

.container {
    margin-top: 4em;
    width: 100%;
}

/* Слайдер контейнер */
.slider-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

.dots-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
}

.dot-circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #EFEEF6;
    transition: transform 0.3s ease;
}

/* Активная точка */
.dot.active {
    background-color: #9E98DC;

}

.dot.active .dot-circle {
    background-color: #9E98DC;
}

.promo1 {
    position: absolute;
    top: 155px;
    right: 74px;
}

.promo2 {
    position: absolute;
    right: 0;
    top: 420px;
    max-width: 50%;
    height: auto;
}