* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: gray;
    font-weight: bold
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #5C6A79;
    background-color: #FFFFFF;
}


.wrapper {
    max-width: 1440px;
    position: relative;
}

#nav__list--active {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: black;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.nav__list {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    gap: 4em;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-decoration: none;
}

.nav__icons {
    display: flex;
    gap: 4em;
    position: relative;
}

.container {
    padding-top: 4rem;
    width: 100%;
}

/* Слайдер контейнер */
.slider-container {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.dots-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
}

.dot-circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #EFEEF6;
    transition: transform 0.3s ease;
}

/* Активная точка */
.dot.active {
    background-color: #9E98DC;

}

.dot.active .dot-circle {
    background-color: #9E98DC;
}

.promo1 {
    position: absolute;
    top: 155px;
    right: 74px;
}

.promo2 {
    position: absolute;
    right: 0;
    top: 420px;
    max-width: 50%;
    height: auto;
}

.bookshop_market__nav {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 416px;
    height: 710px;
    display: flex;
    flex-direction: column;
    background-color: #EFEEF6;
    justify-content: left;
    align-items: left;
    row-gap: 23px;
    position: absolute;
    z-index: 10;
    padding-left: 160px;
    padding-top: 45px;

}

.books-grid {
    margin-top: 50px;
    margin-bottom: 40px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 85px;
    padding-top: 46px;
    
}

.bookshop_market {
    display: flex;
    position: relative;
    margin-top: 11rem;
}


.card {
    display: flex;
    width: 424px;
    height: 300px;
    position: relative;
    left: 356px;
    z-index: 100;+
    justify-content: center;
    align-items: center;
    padding-bottom: 96px;
    
    

}

.picture {
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 36px;
    justify-content: center;
    overflow: hidden; 
    box-shadow: 0 4px 4px 0 #EEECEC;
    
}

.book_author {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 4px;
}

.book_name {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #1C2A39;
    width: 176px;
}

.book_rating {
    margin: 8px 0;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #F2C94C;
}

.review {
    color: #5C6A79;
}


.book_description {
    color: #5C6A79;
    padding-bottom: 16px;
    width: 176px;
}

.book_cost {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding-bottom: 16px;
    color: #1C2A39;
;
}
  
.buy-btn, #load-more-btn{
    font-size: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    height: 45px;
    width: 176px;
    background-color: #FFFFFF;
    color: #4C3DB2;
    border: 1px solid #4C3DB2;
    cursor: pointer;
}

.load-more-btn {
    text-transform: uppercase;
}

.book-section {
 display: flex;
 flex-direction: column;
}


.load-more-section {
 display: flex;
 justify-content: right;
 margin-bottom: 74px;
}

.in-cart-btn {
    font-size: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    height: 45px;
    width: 176px;
    color: #5C6A79;
    border: 1px solid #EEEDF5;
    background-color: #FFFFFF;
    cursor: pointer;
    

}

.cart-counter {
    position: absolute;
    color: #FFFFFF;
    background-color: #FF353A;
    right: -5px;
    top: 7px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    
}


